services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "8080:8080"
    networks:
      - aimo-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:80" # frontend served via nginx on port 80
    depends_on:
      - backend
    networks:
      - aimo-net

networks:
  aimo-net:
    driver: bridge
 
